
    .example {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .example div, .example p, .example span{
        padding: 0;
        margin: 0;
    }

    #mygraphiccontainer {
        width: 650px;
        height: 400px;
    }

    .fondo {
        position: relative;
        background-color: #fff;
        text-align: center;
        line-height: 1.5em;
        border: solid 1px #ddd;
        border-radius: 10px;
        -moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
        -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
        width: 370px;
        height: auto;
        padding: 10px;
        margin: 15px 20px 30px 10px;
        /*opacity: 0.3;*/
        filter: alpha (opacity = 30);
    }

    .fondo2 {
        position: relative;
        background-color: #fff;
        text-align: center;
        line-height: 1.5em;
        border: solid 1px #ddd;
        border-radius: 10px;
        -moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
        -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
        width: 140px;
        height: auto;
        padding: 10px;
        margin: 15px 20px 70px 10px;
        /*opacity: 0.3;*/
        filter: alpha (opacity = 30);
    }

    .etiqueta {
        /*position: relative;*/
        color: #396491;
        font-size: 12px;
        font-weight: bold;
        /*height: 10px;*/
        line-height: 12px;
        opacity: 0.9;
        width: auto;
        height: auto;
        text-align: center;
        /*white-space: wrap;*/
        /*word-wrap: break-word;*/
        /*cursor: move;*/
        /*left: -23px;*/
        /*top: -23px;*/
    }

    .dot {
        position: absolute;
        
        cursor: move;
        left: -23px;
        top: -23px;
    }

    .dot .point {
        background-color: #000;
        position: relative;
        left: -3px;
        top: -3px;
        width: 3px;
        height: 3px;
        border-radius: 3px;
        font-size: 0px;
        opacity: 0.4;
    }

    .number-label {
        position: relative;
        top: -1.5em;
        left: -7.7em;
        width: 7em;
        height: 45px;
        line-height: 1em;
    }

    /* Gives the points a larger target area to drag */
    .fat-finger {
        position: relative;
        /*background:transparent url(../images/animated-judge-image-0041-tiny.gif) no-repeat scroll 0 0;        */
        font-size: 12px;
        font-weight: bold;
        /*height: 10px;*/
        display:block;
        line-height: 12px;
        /*position: relative;*/
        top: 0;  /*minus half the fat-finger height */
        left: 0;
        -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
        margin: auto;
        width: 100px;
        height: 50px;
        padding: 10px;
        text-align: center;
        margin: 20px 10px 10px 5px;
        /*display: inline;*/
        word-wrap: break-word;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 3px;
        /*opacity: 0.3;*/
        filter: alpha (opacity = 30);
    }

    .color1 {
        color: #396491;        
        background-color: #abc;
    }

    .color2 {
        color: #396491;        
        background-color: #cca;
        /*opacity: 0.4;*/

    }

    .color3 {
        color: #396491;        
        background-color: #add;
    }

    .color4 {
        color: #396491;        
        background-color: #bea;
    }

    .color5 {
        color: #396491;        
        background-color: #af8;
    }

    .dot .fat-finger2 {
        position: relative;
        top: -25px; /* minus half the fat-finger height */
        left: -100px;
        width: 100px;
        height: 60px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 3px;
        background-color: #abc;
        opacity: 0.3;
        filter: alpha (opacity = 30);
    }

    .dot-4 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-5 .fat-finger {
        background-color: #f80;
        opacity: 0.4;
    }

    .dot-6 .fat-finger {
        background-color: #f80;
        opacity: 0.4;
    }

    .dot-7 .fat-finger {
        background-color: #f80;
        opacity: 0.4;
    }

    .dot-8 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-13 .fat-finger {
        background-color: #f80;
        opacity: 0.4;
    }

    .dot-14 .fat-finger {
        background-color: #f80;
        opacity: 0.4;
    }

    .dot-15 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-16 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-17 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-18 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-19 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-20 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-21 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-22 .fat-finger {
        background-color: #8DEE16;
        opacity: 0.4;
    }

    .dot-0 .fat-finger {
        background-color: #8DAA16;
        opacity: 0.4;
    }

    .dot-0 {
        position: absolute;
        top:-290px;
        left: -400px;
    }

    .dot-1 {
        position: absolute;
        top:-250px;
        left: -400px;
    }

    .dot-2 {
        position: absolute;
        top:-250px;
        left: -80px;
    }

    .dot-3 {
        position: absolute;
        top:-190px;
        left:-200px;
    }

    .dot-4 {
        position: absolute;
        top:-10px;
        left:-300px;
    }

    .dot-5 {
        position: absolute;
        top:-20px;
        left:-100px;
    }

    .dot-6 {
        position: absolute;
     
        top:50px;
        left:-270px;   
    }

    .dot-7 {
        position: absolute;
        top:-270px;
        left:20px;
    }

    .dot-8 {
        position: absolute;
        top:-270px;
        left:20px;
    }

    .dot-9 {
        position: absolute;
        top:10px;
        left:10px;
    }

    .dot-10 {
        position: absolute;
        top:10px;
        left:10px;
    }

    .dot-11 {
        position: absolute;
        top:10px;
        left:10px;
    }

    .dot-12 {
        position: absolute;
    }

    .dot-13 {
        position: absolute;
    }

    .dot-14 {
        position: absolute;
    }

    .dot-15 {
        position: absolute;
    }

    .dot-16 {
        position: absolute;
    }

    .dot-17 {
        position: absolute;
    }

    .dot-18 {
        position: absolute;
    }

    .dot-19 {
        position: absolute;
    }

    .dot-20 {
        position: absolute;
    }

    .dot-21 {
        position: absolute;
    }

    .dot-22 {
        position: absolute;        
        top:0px;
        left:210px;
    }

    #info {
        position: relative;
        width: 450px;
        height: 15em;
        right: 1em;
        top: 1em;
    }

    code span {
        color: #CC3300;
    }

    .point {
        font-size: 24px;
        left: 5px;
        position: relative;
        top: -5px;
    }

    .cuadrado {
    width: 50px;
    height: 50px;
    /*border: solid 5px lightblue;*/
    position: absolute;
    top: 10px;
    left: 10px;
    /*z-index: 0;*/
  }


  .waypoint {
    position: absolute;
    z-index: 4;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #7f9f7f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .path-dot {
    position: absolute;
    z-index: 1;
    width: 4px;
    height: 4px;
    font: 0px;
    background-color: #dca3a3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  #mover {
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 20px;
    background-color: #4f4faf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  #snippet {
    float: left;
    clear: both;
    z-index: 0;
    color: #dcdccc;
    /*font-family: "Lucida Console", "Monaco", "Arial", "Verdana"*/
  }

  #snippet pre {
    /*font-family: "Lucida Console", "Monaco", "Arial", "Verdana"*/
  }

  #snippet a {
    /*color: #4f4faf;*/
    color: #5fbf5f;
    text-decoration: none;
  }

  #snippet a:hover {
    text-decoration: underline;
    color: #4fff4f;
  }

  #settings {
    float: left;
    clear: both;
    color: #dcdccc;
  }

  .option {
    clear: both;
  }

  * {
    border: 0;
    /*font-family: "Lucida Console", "Monaco", "Arial", "Verdana";*/
  }

  td>span {color:#ad4 !important;
  }

  #proceso1{
    z-index: 2;
  }